@{
    ViewBag.Title = Resources.Resource.TitleConfrimEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       @Resources.Resource.ConfrimEmailMessage @Html.ActionLink(Resources.Resource.ConfrimEmailLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
