@{
    ViewBag.Title = Resources.Resource.TitleConfirmEmail;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
       @Resources.Resource.ConfirmEmailMessage @Html.ActionLink(Resources.Resource.ConfirmEmailLink, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
