@model PhotoCommunity.Models.IndexViewModel
@{
    ViewBag.Title = "Мой профиль";
}

<h2>@ViewBag.Title.</h2>
<div>
    <h4>Здесь нужно реализовать представление профиля с картинками, подложкой и т.д.</h4>
    <hr />
    @Html.ActionLink("Добавить фото", "Add","Photo")
    <br />
    @Html.ActionLink("Сменить пароль", "ChangePassword")
    <br />
    @Html.ActionLink("Редактировать профиль", "Edit")
</div>