/************Common**************/

$gallery-photo-size: 240px;
$main-font: Verdana,Arial,sans-serif;
$main-font-color: white;
$nav-font-color: #999999;
$nav-bar-color: #222222;
$users-photo-size: 150px;
$profile-photo-size: 250px;

body {
    font-family: $main-font;
    position:relative; 
    min-height:100vh;
}

#body-block{
    margin-bottom:6em;
}

.center-div {
    margin: auto;
    display: inline-block;
}

.center-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.wall-photo {
    display: inline-block;
    margin: 10px 10px;
}

.center-container {
    text-align: center;

    img {
        max-height: 800px;
        max-width: 1000px;
        margin-top: 20px;
    }
}

#back-link{
    font-size:20px;
    color:cornflowerblue;
    text-decoration:none;
}

#back-link:hover{
        text-decoration:none;
        color:blue;
    }

/************_LoginPartial**************/

#drop-down a {
    font-size: 12px;
    margin: 0 5px;
    padding: 10px 15px;
    
    img{
        margin-left:3px;
    }
}

.dropdown:hover .dropdown-menu {
    display: block !important;
}

#change-lang {
    padding: 15px 15px;

    li > a {
        margin: 0;
        padding: 0 2px;
    }
}



/************Footer**************/

footer {
    text-align: center;
    border-top: 1px grey dashed;
    padding: 10px;
    margin-top: 20px;
    position:absolute;
    width:100%;
    bottom:0;
    left:0;
}

/************Gallery**************/

.gallery-block {
    margin: auto;
    color: $main-font-color;
    min-height:400px;

    .wall-photo {
        .photo-body {

            .center-image {
                height: $gallery-photo-size;
                width: $gallery-photo-size;
            }
        }

        .photo-info {
            background-color: black;
            padding: 5px;

            .stat {
                font-size: 9pt;

                #rate {
                    display: block;
                    float: right;
                    color: limegreen;
                }
            }

            .name {
                font-size: 14pt;
                margin: 5px 0;
            }

            .author {
                font-size: 9pt;
                text-decoration: underline;
            }

            #delete-icon {
                display: inline-block;
                float: right;
                font-size: 24pt;
                text-decoration: none;
                margin-top: 17px;
            }
        }
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }

    a:hover {
        text-decoration: none;
        color: red;
    }
}

/************Users**************/

.users-block {
    min-height: 400px;

    a {
        color: #333333;
        font-family: $main-font;
        padding: 5px;
    }

    a:hover {
        text-decoration: none;
        color: red;
    }

    .center-image {
        margin: 5px;
        height: $users-photo-size;
        width: $users-photo-size;
    }

    .wall-photo {
        margin: 5px 10px;
    }
}

/************Edit Profile**************/

.edit-block {

    .center-image {
        margin: 5px;
        height: $gallery-photo-size;
        width: $gallery-photo-size;
    }
}

/************User-page**************/

.profile-block {
    z-index: 1;
    color: black;    

    h1 {
        margin-bottom: 30px;
    }

    .center-image {
        margin: 5px;
        height: $profile-photo-size;
        width: $profile-photo-size;
        display: inline-block;
    }

    .profile-about {
        vertical-align: top;
        display: inline-block;
        padding-left: 20px;
        max-height: $profile-photo-size;
        max-width: 65%;
        overflow-y: auto;
    }

    #user-info {
        padding: 5px;

        a {
            color: cornflowerblue;
            font-size: 14px;
            font-weight:800;
        }

        a:hover {
            color: red;
        }
    }
}

.profile-block:before {
    width: 100%;
    content: " ";
    background: linear-gradient(lavender,white);
    position: absolute;
    left: 0;
    top: 50px;
    height: 450px;
    z-index: -1;
}

#profile {
    #delete-icon {
        margin-top: 0;
    }
}

/************Photo Show**************/

#photo-show-block {

    #err-block{
        display:none;
        background:linear-gradient(white 50%,transparent); 
        position:fixed;
        z-index:10;
        padding:20px 0;
        width:100%;
        text-align:center;
        top:50px;
        left:0;
        height:25%;

        

        h3{
            color:darkred;
            margin:10px;
        }
    }

    #description {
        margin: 10px 0;

        :last-child {
            text-indent: 20px;
        }
    }   

    .rating {
        cursor: pointer;
        text-decoration: none;
        margin-top: 5px;

        #toLike {
            color: green;
        }

        #toUnlike {
            color: red;
        }
    }

    #like-procedure {
        padding: 5px 15px 20px 0;
    }

    #like-counter {
        display: inline-block;
        font-size: 20px;
        line-height: 24px;
        padding-left: 10px;
    }

    #results {
        ul {
            padding: 0;
        }

        li {
            list-style: none;
            padding: 10px 0;
        }
    }

    .comment-title {
        border-bottom: dotted 1px #ccc;
        padding-bottom: 12px;

        span {
            float: right;
        }
    }

    #add-comment {

        textarea {
            max-width: none;
            resize: vertical;
            min-height: 100px;
            width: 100%;
            border-radius: 5px;
        }

        #ajax-sender {
            float: right;
            margin-top: 15px;
        }
    }

    .delete-button{
        display:none;
    }

    #delete-link {
        display: inline-block;
        float: right;
        color: red;
        cursor: pointer;
    }

    #delete-link:hover {
        text-decoration: none;
        color: black !important;
    }
}

/************Delete photo**************/

#delete-photo-block {
    #date-div, #name-div {
        display: inline-block;
    }

    #date-div {
        float: right;
    }

    .center-container {
        img {
            max-height: 600px;
            max-width: 800px;
            margin-top: 5px;
        }
    }

    #actions {
        margin: 20px 0;

        button,form {
            width: 20%;
            min-width: 100px;
        }

        input[type=submit]{
            width:100%;
        }

        form {
            display: inline-block;
            float: right;
        }
    }
}

/************Delete user**************/

#delete-user-block{
    .form-actions,form{
        display:inline-block;
    }
}

/************Details user**************/

#details-block{

    button{
        float:right;
    }

    img{
        max-width:200px;
        max-height:150px;
    }

    dt,dd{
        margin-top:7px;
    }
}

/************Admin panel**************/

#admin-block{

    form{
        float:right;
        display:inline-block;
        margin-bottom: 15px;

        input[type=search]{
            display:inline-block;
            width:auto;
        }
    }

    .inline-block{
        display:inline-block;
    }

    td{
        vertical-align:middle;
    }

    .action-links{
        padding-left:50px;
    }

}